In [1]:
import pandas as pd

directory = r'data\\'

In [2]:
df = pd.read_excel(directory + 'Pulp Fiction.xlsx')
df.head()

,Start Time,End Time,Character,Subtitle,Fuck Count,Fuck Count 2,Check,Part,start_seconds,end_seconds
0,"00:00:28,340","00:00:32,428",Pumpkin,Forget it. It's too risky. I'm through doing t...,0,0,0,Prologue – The Diner,28.340,32.428
1,"00:00:32,508","00:00:35,966",Honey Bunny,You always say that. The same thing every time.,0,0,0,Prologue – The Diner,32.508,35.966
2,"00:00:36,038","00:00:37,977",Honey Bunny,"""I'm through, never again, too dangerous.""",0,0,0,Prologue – The Diner,36.038,37.977
3,"00:00:38,048","00:00:40,537",Pumpkin,I know that's what I always say. I'm always ri...,0,0,0,Prologue – The Diner,38.048,40.537
4,"00:00:40,617","00:00:44,015",Pumpkin,The days of me forgetting are over.,0,0,0,Prologue – The Diner,40.617,44.015

In [3]:
def count_occurrences(word, sentence):
    # Count occurrences of the word in the sentence, case insensitive
    return sentence.lower().count(word.lower())

# Adding a new column 'Fuck Count' to the DataFrame
df['Fuck Count 3'] = df['Subtitle'].apply(lambda x: count_occurrences('fuck', x))

# Displaying the DataFrame with the new column
df.head()

,Start Time,End Time,Character,Subtitle,Fuck Count,Fuck Count 2,Check,Part,start_seconds,end_seconds,Fuck Count 3
0,"00:00:28,340","00:00:32,428",Pumpkin,Forget it. It's too risky. I'm through doing t...,0,0,0,Prologue – The Diner,28.340,32.428,0
1,"00:00:32,508","00:00:35,966",Honey Bunny,You always say that. The same thing every time.,0,0,0,Prologue – The Diner,32.508,35.966,0
2,"00:00:36,038","00:00:37,977",Honey Bunny,"""I'm through, never again, too dangerous.""",0,0,0,Prologue – The Diner,36.038,37.977,0
3,"00:00:38,048","00:00:40,537",Pumpkin,I know that's what I always say. I'm always ri...,0,0,0,Prologue – The Diner,38.048,40.537,0
4,"00:00:40,617","00:00:44,015",Pumpkin,The days of me forgetting are over.,0,0,0,Prologue – The Diner,40.617,44.015,0

In [4]:
df[df['Fuck Count'] != df['Fuck Count 3']]

Empty DataFrame
Columns: [Start Time, End Time, Character, Subtitle, Fuck Count, Fuck Count 2, Check, Part, start_seconds, end_seconds, Fuck Count 3]
Index: []

In [5]:
df['Fuck Count'].sum()

265

In [6]:
df.drop(['Fuck Count 2', 'Fuck Count 3', 'Check'], axis=1, inplace=True)

df['Word Count'] = df['Subtitle'].apply(lambda x: count_occurrences(' ', x)) + 1

df.head()

,Start Time,End Time,Character,Subtitle,Fuck Count,Part,start_seconds,end_seconds,Word Count
0,"00:00:28,340","00:00:32,428",Pumpkin,Forget it. It's too risky. I'm through doing t...,0,Prologue – The Diner,28.340,32.428,10
1,"00:00:32,508","00:00:35,966",Honey Bunny,You always say that. The same thing every time.,0,Prologue – The Diner,32.508,35.966,9
2,"00:00:36,038","00:00:37,977",Honey Bunny,"""I'm through, never again, too dangerous.""",0,Prologue – The Diner,36.038,37.977,6
3,"00:00:38,048","00:00:40,537",Pumpkin,I know that's what I always say. I'm always ri...,0,Prologue – The Diner,38.048,40.537,11
4,"00:00:40,617","00:00:44,015",Pumpkin,The days of me forgetting are over.,0,Prologue – The Diner,40.617,44.015,7

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2406 entries, 0 to 2405
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Start Time     2406 non-null   object
 1   End Time       2406 non-null   object
 2   Character      2182 non-null   object
 3   Subtitle       2406 non-null   object
 4   Fuck Count     2406 non-null   int64
 5   Part           2406 non-null   object
 6   start_seconds  2406 non-null   float64
 7   end_seconds    2406 non-null   float64
 8   Word Count     2406 non-null   int64
dtypes: float64(2), int64(2), object(5)
memory usage: 169.3+ KB

In [8]:
df.to_excel(directory + 'pulp_fiction_final.xlsx', index=False, sheet_name='Subs')

In [9]:
time_df = pd.DataFrame({'From': list(range(0, 9001)), 'To': list(range(1, 9002))})
time_df.head()

   From  To
0     0   1
1     1   2
2     2   3
3     3   4
4     4   5

In [10]:
with pd.ExcelWriter(directory + 'pulp_fiction_final.xlsx', mode='a') as writer:  
    time_df.to_excel(writer, sheet_name='Time', index=False)

In [11]:
df['Part'].unique()

array(['Prologue – The Diner',
       'Prelude to "Vincent Vega and Marsellus Wallace\'s Wife"',
       '"Vincent Vega and Marsellus Wallace\'s Wife"',
       'Prelude to "The Gold Watch"', '"The Gold Watch"',
       '"The Bonnie Situation"', '"Epilogue – The Diner"'], dtype=object)