In [1]:
import pandas as pd

In [2]:
profiles_df = pd.read_excel('profiles_clean.xlsx')
profiles_df.head()

,headline,place,education,town,citizenship,company_id
0,Data analyst at controlling information system...,"Novi Sad, Vojvodina, Serbia",University of Novi Sad,Novi Sad,Serbia,1523040
1,Data Analyst,"Belgrade, Serbia",Peter the Great St.Petersburg Polytechnic Univ...,Belgrade,Russia,84834959
2,Data Analyst at Erste Bank | Reporting and dat...,Serbia,University of Novi Sad,Serbia,Serbia,8812
3,Data Analyst,"Belgrade, Serbia",Saint Petersburg State University,Belgrade,Russia,26213418
4,Data Analyst at Cropt,"Novi Sad, Vojvodina, Serbia",University of Novi Sad,Novi Sad,Serbia,37246962

In [3]:
compainies_df = pd.read_excel('companies.xlsx')
compainies_df.head()

,name,industry,location,followers,employees,company_id
0,3P Services,Public Safety,"Lohne, Germany",2K followers,51-200 employees,4027709
1,4th-IR,IT Services and IT Consulting,"Lucerne, CH",1K followers,2-10 employees,22344581
2,5CA,Outsourcing and Offshoring Consulting,"Utrecht, Utrecht",31K followers,1K-5K employees,111005
3,A Data Pro,Information Services,Sofia,9K followers,201-500 employees,45781
4,A1 Srbija d.o.o.,Telecommunications,Belgrade,26K followers,1K-5K employees,72659835

In [4]:
df = compainies_df.join(profiles_df.set_index('company_id'), on='company_id', how='left')
df.head()

,name,industry,location,followers,employees,company_id,headline,place,education,town,citizenship
0,3P Services,Public Safety,"Lohne, Germany",2K followers,51-200 employees,4027709,Team Lead - ILI Senior Data Analyst Level II,"Ni≈°, Centralna Srbija, Serbia","High Technical School of applied studies, Nis",Ni≈°,Serbia
1,4th-IR,IT Services and IT Consulting,"Lucerne, CH",1K followers,2-10 employees,22344581,Software Developer | Entrepreneur | Data Analy...,Serbia,"ITS, Belgrade",Serbia,Serbia
2,5CA,Outsourcing and Offshoring Consulting,"Utrecht, Utrecht",31K followers,1K-5K employees,111005,Data Analyst üìà Civil Engineer üìêComputer Nerd ü§ì,Serbia,University of Novi Sad,Serbia,Serbia
3,A Data Pro,Information Services,Sofia,9K followers,201-500 employees,45781,"üìçSerbia, Analyst @ A Data Pro",Serbia,NaN,Serbia,NaN
3,A Data Pro,Information Services,Sofia,9K followers,201-500 employees,45781,Media Analyst at A Data Pro,Serbia,University of Novi Sad,Serbia,Serbia

In [5]:
df['russians'] = (df['citizenship'] == 'Russia').fillna(0).astype(int)

df.head(30)

,name,industry,location,followers,employees,company_id,headline,place,education,town,citizenship,russians
0,3P Services,Public Safety,"Lohne, Germany",2K followers,51-200 employees,4027709,Team Lead - ILI Senior Data Analyst Level II,"Ni≈°, Centralna Srbija, Serbia","High Technical School of applied studies, Nis",Ni≈°,Serbia,0
1,4th-IR,IT Services and IT Consulting,"Lucerne, CH",1K followers,2-10 employees,22344581,Software Developer | Entrepreneur | Data Analy...,Serbia,"ITS, Belgrade",Serbia,Serbia,0
2,5CA,Outsourcing and Offshoring Consulting,"Utrecht, Utrecht",31K followers,1K-5K employees,111005,Data Analyst üìà Civil Engineer üìêComputer Nerd ü§ì,Serbia,University of Novi Sad,Serbia,Serbia,0
3,A Data Pro,Information Services,Sofia,9K followers,201-500 employees,45781,"üìçSerbia, Analyst @ A Data Pro",Serbia,NaN,Serbia,NaN,0
3,A Data Pro,Information Services,Sofia,9K followers,201-500 employees,45781,Media Analyst at A Data Pro,Serbia,University of Novi Sad,Serbia,Serbia,0
3,A Data Pro,Information Services,Sofia,9K followers,201-500 employees,45781,Media Analyst at A Data Pro,"Belgrade, Serbia",University of Belgrade,Belgrade,Serbia,0
3,A Data Pro,Information Services,Sofia,9K followers,201-500 employees,45781,Media Analyst at A Data Pro,Serbia,University of Belgrade,Serbia,Serbia,0
3,A Data Pro,Information Services,Sofia,9K followers,201-500 employees,45781,Data Analyst/Contractor at A Data Pro,Serbia,Filozofski fakultet Ni≈°,Serbia,Serbia,0
3,A Data Pro,Information Services,Sofia,9K followers,201-500 employees,45781,"Media Analyst with Japanese, English, and Serb...",Belgrade Metropolitan Area,Waseda University,Belgrade,Serbia,0
4,A1 Srbija d.o.o.,Telecommunications,Belgrade,26K followers,1K-5K employees,72659835,Data Analyst,"Belgrade, Serbia",University of Belgrade,Belgrade,Serbia,0
4,A1 Srbija d.o.o.,Telecommunications,Belgrade,26K followers,1K-5K employees,72659835,Data Science and Analytics Expert at A1 Srbija,Belgrade Metropolitan Area,University of Belgrade,Belgrade,Serbia,0
4,A1 Srbija d.o.o.,Telecommunications,Belgrade,26K followers,1K-5K employees,72659835,"BI, Big Data and Analytics Director at A1 Srbi...",Serbia,"Faculty of Organizational Sciences, Belgrade, ...",Serbia,Serbia,0
4,A1 Srbija d.o.o.,Telecommunications,Belgrade,26K followers,1K-5K employees,72659835,Data Science and Analytics Expert at A1 Serbia,"Belgrade, Serbia",Faculty of Organizational Sciences,Belgrade,Serbia,0
5,A1 Telekom Austria Group,Telecommunications,"Vienna, Vienna",19K followers,10K+ employees,1186869,Data Scientist | Data Analyst | Machine Learni...,"Novi Sad, Vojvodina, Serbia",University of Novi Sad,Novi Sad,Serbia,0
5,A1 Telekom Austria Group,Telecommunications,"Vienna, Vienna",19K followers,10K+ employees,1186869,Senior Business & Data Analyst,"Belgrade, Serbia",FON,Belgrade,Serbia,0
5,A1 Telekom Austria Group,Telecommunications,"Vienna, Vienna",19K followers,10K+ employees,1186869,Business and Data Analyst,"Belgrade, Serbia",University of Belgrade,Belgrade,Serbia,0
6,Abbott,Hospitals and Health Care,"Abbott Park, Illinois",3M followers,10K+ employees,1612,Data Analyst | Product analyst | BI analyst | ...,Serbia,National University of Science and Technology ...,Serbia,Russia,1
7,Able,Wellness and Fitness Services,"San Francisco, California",7K followers,51-200 employees,20112469,Data Analyst,Serbia,NaN,Serbia,Russia,1
8,Accel Club,Internet Marketplace Platforms,Amsterdam,9K followers,51-200 employees,69893148,"Data analyst at Accel Club, ex-Yandex","Belgrade, Serbia",Higher School of Economics,Belgrade,Russia,1
8,Accel Club,Internet Marketplace Platforms,Amsterdam,9K followers,51-200 employees,69893148,Data Analyst,"Belgrade, Serbia",Higher School of Economics,Belgrade,Russia,1
9,Accenture,Business Consulting and Services,Dublin 2,11M followers,10K+ employees,1033,Data analyst at Accenture,Serbia,Faculty of Organisational Sciences,Serbia,Serbia,0
9,Accenture,Business Consulting and Services,Dublin 2,11M followers,10K+ employees,1033,Junior data analyst at Accenture,Serbia,"Medicinska ≈†kola ""Draginja Nik≈°iƒá""",Serbia,Serbia,0
9,Accenture,Business Consulting and Services,Dublin 2,11M followers,10K+ employees,1033,Data Analyst - Crowdsource Optimization Engine...,"Belgrade, Serbia",University of Belgrade,Belgrade,Serbia,0
10,Acolin,Financial Services,"Zurich, Switzerland",3K followers,51-200 employees,2603382,Data analyst / Commission Management team,"Belgrade, Serbia",University of Belgrade,Belgrade,Serbia,0
10,Acolin,Financial Services,"Zurich, Switzerland",3K followers,51-200 employees,2603382,Data Analyst,"Belgrade, Serbia",University of Belgrade,Belgrade,Serbia,0
10,Acolin,Financial Services,"Zurich, Switzerland",3K followers,51-200 employees,2603382,Data Analyst at ACOLIN InfoTech d.o.o,Serbia,Univerzitet Dzon Nezbit,Serbia,Serbia,0
10,Acolin,Financial Services,"Zurich, Switzerland",3K followers,51-200 employees,2603382,Data Analyst,"Belgrade, Serbia",Megatrend University,Belgrade,Serbia,0
10,Acolin,Financial Services,"Zurich, Switzerland",3K followers,51-200 employees,2603382,Data Analyst at ACOLIN InfoTech d.o.o.,Serbia,The College of Tourism,Serbia,Serbia,0
11,Acronis,Software Development,"Schaffhausen, Switzerland",116K followers,1K-5K employees,13179,Data Analyst,Serbia,NaN,Serbia,Russia,1
11,Acronis,Software Development,"Schaffhausen, Switzerland",116K followers,1K-5K employees,13179,Senior Data Analyst | ACRONIS RESEARCH,"Belgrade, Serbia",–ò–≤–∞–Ω–æ–≤—Å–∫–∏–π –≥–æ—Å—Å—É–¥–∞—Ä—Å—Ç–≤–µ–Ω–Ω—ã–π –ø–æ–ª–∏—Ç–µ—Ö–Ω–∏—á–µ—Å–∫–∏–π —É–Ω...,Belgrade,Serbia,0

In [6]:
compainies_df.columns

Index(['name', 'industry', 'location', 'followers', 'employees', 'company_id'], dtype='object')

In [7]:
columns = ['company_id', 'name', 'industry', 'location', 'followers', 'employees']
df = df.groupby(columns).agg({'headline': 'count', 'russians': 'sum'}).sort_values('russians', ascending=False).reset_index()

df.head()

,company_id,name,industry,location,followers,employees,headline,russians
0,10718,Yandex,"Technology, Information and Internet",Moscow,189K followers,10K+ employees,36,35
1,4972,EPAM Systems,IT Services and IT Consulting,"Newtown, PA",1M followers,10K+ employees,12,10
2,84834959,Data-Driven Lab,Research Services,Belgrade,2K followers,201-500 employees,8,8
3,213036,Playrix,Computer Games,Dublin,101K followers,1K-5K employees,6,6
4,127309,Wargaming,Computer Games,Nicosia,108K followers,1K-5K employees,7,6

In [8]:
df.columns = ['company_id', 'name', 'industry', 'location', 'followers', 'employees', 'data_analysts', 'russian_data_analysts']

df['russian_data_analysts_ratio'] = round(100 * df['russian_data_analysts'] / df['data_analysts'], 1)

df.head()

,company_id,name,industry,location,followers,employees,data_analysts,russian_data_analysts,russian_data_analysts_ratio
0,10718,Yandex,"Technology, Information and Internet",Moscow,189K followers,10K+ employees,36,35,97.2
1,4972,EPAM Systems,IT Services and IT Consulting,"Newtown, PA",1M followers,10K+ employees,12,10,83.3
2,84834959,Data-Driven Lab,Research Services,Belgrade,2K followers,201-500 employees,8,8,100.0
3,213036,Playrix,Computer Games,Dublin,101K followers,1K-5K employees,6,6,100.0
4,127309,Wargaming,Computer Games,Nicosia,108K followers,1K-5K employees,7,6,85.7

In [9]:
df.to_excel('companies_list.xlsx', index=False)